<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AgentRating3.Properties.Settings.GoshaConnectionString"
            connectionString="Data Source=192.168.0.16;Initial Catalog=GoshaG;User ID=SAMAN;Password=saman"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>